/executables/

# Ignore all .mcpack files everywhere
*.mcpack

# Ignore all ZIP files except those in the Patches folder
*.zip
!Patches/**/*.zip

# Ignore everything in dist folders except .exe files
dist/*


# Standard Python ignores (optional but useful for this repo)
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.spec
build/
venv/
.env/
.DS_Store
.idea/
.vscode/
node_modules

# A&S Patcher files
Actions_and_Stuff_RTX_Patcher/app.log
Actions_and_Stuff_RTX_Patcher/build/
Actions_and_Stuff_RTX_Patcher/dist/
Actions_and_Stuff_RTX_Patcher/*.spec
Actions_and_Stuff_RTX_Patcher/temp_rs/
Actions_and_Stuff_RTX_Patcher/libs/
Actions_and_Stuff_RTX_Patcher/tools/_input/
Actions_and_Stuff_RTX_Patcher/tools/tool_config.json
Actions_and_Stuff_RTX_Patcher/tools/tool_config_v2.json

# Brarchive Extractor files
brachiveextractor/build/
brachiveextractor/dist/
brachiveextractor/*.spec
brachiveextractor/test_output/
brachiveextractor/db.json
brachiveextractor/__pycache__/

# General / Temporary / Reports
temp_test_pack/
pylint_report.txt
*.bak
Actions_and_Stuff_RTX_Patcher/dist/Actions_and_Stuff_RTX_Patcher.exe
A-S-Minecraft-RTX-Community-PatcherV2.code-workspace
/Actions_and_Stuff_RTX_Patcher/dist
Actions_and_Stuff_RTX_Patcher/dist/Actions_and_Stuff_RTX_Patcher.exe
