/executables/

# Ignore all .mcpack files everywhere
*.mcpack

# Ignore all ZIP files except those in the Patches folder
*.zip
!Patches/**/*.zip

# Ignore everything in dist folders except .exe files
dist/*


# Standard Python ignores (optional but useful for this repo)
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.spec
build/
venv/
.env/
.DS_Store
.idea/
.vscode/
node_modules

# A&S Patcher files
A&S Patcher/app.log
A&S Patcher/build/
A&S Patcher/dist/
A&S Patcher/*.spec
A&S Patcher/temp_rs/

# Brarchive Extractor files
brachiveextractor/build/
brachiveextractor/dist/
brachiveextractor/*.spec
brachiveextractor/test_output/
brachiveextractor/db.json
brachiveextractor/__pycache__/
temp_test_pack/
pylint_report.txt
